<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />

    <link href="~/Content/css/owl.carousel.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/owl.theme.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/owl.transitions.css" rel='stylesheet' type='text/css' />

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="body">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-m-12">
                <p class="center taglines solution">
                    <span class="tagline3">The problem with slack</span>
                    <span class="tagline4">Your Slack looks like a Christmas Tree?</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/crying-slackbot-2.png" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <p class="solution-text">
                    Your Slack is becoming messy when you're unavailable 3 hours?
                    You don't have time to read all these notifications?
                    Thins bing sound is driving you crazy?
                    <br /><br />Add TAZ to your Slack team and it will send you a digest of what you've missed!
                </p>
            </div>
        </div>
    </div>
    <div class="clouds">
        <div class="container">
            <div class="row what">
                <div class="col-md-12">
                    <p class="taglines center">
                        <span class="tagline3">What's TAZ?</span>
                        <span class="tagline4">Get a digest of what you've missed</span>
                    </p>
                </div>
            </div>
            <div class="row features">
                <div class="col-md-4 center">
                    <img src="~/Content/images/icon-trending-86px.png" />
                    <h3>Trending</h3>
                    <p>What are the last messages with the most reactions you've missed?</p>
                </div>
                <div class="col-md-4 center">
                    <img src="~/Content/images/icon-mention-86px.png" />
                    <h3>Mentions</h3>
                    <p>Who mentionned you in which channel when you were gone?</p>
                </div>
                <div class="col-md-4 center">
                    <img src="~/Content/images/icon-topics-86px.png" />
                    <h3>Topics</h3>
                    <p>What topics your colleagues were talking about when you were not around?</p>
                </div>
            </div>
            <div class="row picture">
                <div class="col-md-12">
                    <img class="img-responsive" src="~/Content/images/screen-big.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Bring Back your Focus</h3>
                    <p>Add the most powerful way to digest your notifications to your team now.</p>
                </div>
                <div class="col-md-4 button-cta">
                    @*<a class="" href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot,users:read,channels:write,channels:history,channels:read,chat:write:user,dnd:write,dnd:read,emoji:read,files:read,groups:write,groups:history,groups:read,im:write,im:history,im:read,mpim:write,mpim:history,mpim:read,pins:write,pins:read,reactions:write,reactions:read,reminders:write,reminders:read,search:read,stars:write,stars:read,team:read,usergroups:write,usergroups:read,users:write&client_id=48203572272.48200981078">
                        <img alt="Add to Slack" src="~/Content/images/CTA.png" />
                    </a>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <p class="taglines center carou">
                    <span class="tagline3">Digest notifications</span>
                    <span class="tagline4">See what your colleagues are talking</span>
                </p>
            </div>
            <div class="carousel">
                <div class="item">
                    <img src="~/Content/images/trending-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/mentions-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/topics-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/trending-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/mentions-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/topics-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/trending-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/mentions-carousel.png">
                </div>
                <div class="item">
                    <img src="~/Content/images/topics-carousel.png">
                </div>
            </div>
        </div>
    </div>

    <div class="love">
        <div class="container">
            <p class="taglines center">
                <span class="tagline3">People love TAZ</span>
            </p>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="~/Content/images/thomas-louis.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">TAZ is probably the best Slack bot I've ever used. It keeps me focused and aware of what's going on when I'm not available.</h3>
                            <br />
                            <span class="dan">Thomas-Louis Lafleur</span>
                            <br />
                            <span class="ov">Le Chiffre CEO</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <footer class="">
        <div class="container">
            <div class="row">
                <div class="col-m-12 center">
                    <p>&copy; Taz Maniacs - Slackathon 2016 - Montréal - </p><code>["Phil", "Mig", "Yuri", "Élo"]</code>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/app.js"></script>
</body>
</html>
